body{
    background-color: #1F1F1E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#F6F5F0;
}

blockquote{
    text-align: justify;
    font-size: 18px;
    text-indent: 70px;
    line-height: 30px;
    word-spacing: 7px;
}

h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4em;
    background-color: #56564C;
    color:#F6F5F0;
    text-transform: uppercase;
    word-spacing: 20px;
    text-shadow: 10px 10px 10px gray ;
}

h2{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    color:#F6F5F0;
    text-transform: uppercase;
    word-spacing: 30px;
}

.interest {
    background-color: #56564C;
}

.skill {
    float: left;
    margin-left: 70px;
    margin-bottom: -400px;
    height: 300px;
    width: 500px;
}

.skill:hover {
    border: 10px;
    color: #56564C;
    border-style: double;
}

.hobbies {
    margin-right: 500px;
    margin-left: 680px;
    float: left;
    height: 300px;
    width: 500px;
}

.hobbies:hover {
    border: 10px;
    color: #56564C;
    border-style: double;
}

.curiosity {
    margin-left: 1290px;
    margin-top: -333px;
    float: left;
    height: 300px;
    width: 500px;
}

.curiosity:hover {
    border: 10px;
    color: #56564C;
    border-style:double;
}

.homepage {
    float: left;
}

.homepage:link {
    color: #E5E5E5;
    text-decoration: none;
}

.homepage:visited {
    color: #F0E7DA;
}

.homepage:hover{
    background-color: #56564C;
}

.back:link {
    color: #E5E5E5;
    text-decoration: none;
}

.back:visited {
    color: #F0E7DA;
}

.back:hover{
    background-color: #56564C;
}

.image {
    border: 5px solid #F6F5F0;
    margin-right: 40px;
    margin-left: 50px;
    width: 400px;
    height: 400px;
}

.image1 {
    border: 5px solid #F6F5F0;
    margin-right: 40px;
    width: 400px;
    height: 400px;
}

.image2 {
    border: 5px solid #F6F5F0;
    margin-right: 40px;
    width: 400px;
    height: 400px;
}

.image3 {
    border: 5px solid #F6F5F0;
    margin-right: 40px;
    width: 400px;
    height: 400px;
}

