h1{
    font-size: 120px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #56564C;
}

body {
    color: #F6F5F0;
    background: #1F1F1E;
}

.game {
    width: 1000px;
    height: 600px;
    display: block;
    margin-left: 20;
}

blockquote {
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 2em;
}

.back:link {
    color: #E5E5E5;
    text-decoration: none;
}

.back:visited {
    color: #F0E7DA;
}

.back:hover{
    background-color: #1F1F1E;
}